@charset "UTF-8";
.Fonctionnement {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-bottom: 60px;
}
.Fonctionnement h2 {
  font-family: Roboto;
  margin-bottom: 0;
  width: 322px;
  margin-top: 48px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 28px;
  margin-top: 31px;
}
.menu1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  justify-content: space-around;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.menu h4 {
  width: 180px;
  font-family: roboto;
}

.fa-store:before {
  color: #9356DC;
}

.cercle {
  margin: 10px;
  width: 24px;
  background: #9356DC;
  height: 24px;
  text-align: center;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  margin: -50px;
}

@media (min-width: 697px) {
  .Fonctionnement h2 {
    width: auto;
    margin-left: 20px;
  }
}
@media (min-width: 1050px) {
  .Fonctionnement h2 {
    width: 1050px;
    margin-left: 20px;
  }
}
@media (min-width: 1104px) {
  .menu {
    gap: 55px;
  }
}
.restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--Background, #f6f6f6);
  height: 1226px;
}
.restaurants h2 {
  margin: 58px 80px 16px 20px;
  font-family: Roboto;
  width: 275px;
}

@media (min-width: 704px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 28px;
  }
  .restaurants .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .restaurants h2 {
    margin: 0px 180px;
    width: auto;
  }
}
@media (min-width: 1050px) {
  .restaurants .card {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .restaurants .card1 {
    width: 490px;
  }
  .restaurants .deuxieme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants .premier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants .coeur {
    margin-left: 430px;
  }
  .restaurants h2 {
    width: 1050px;
    margin-left: 200px;
  }
}
@media (min-width: 1180px) {
  .restaurants .card {
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 100%;
  }
  .restaurants .deuxieme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0px 180px;
  }
  .restaurants .premier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0px 180px;
  }
  .restaurants .coeur {
    margin-left: 430px;
  }
}
.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  background: var(--Background, #f6f6f6);
  font-family: roboto;
}
.titre h2 {
  height: 68px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0px 0px;
}
.titre h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0px 0px 0px;
}
.titre .bouton {
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  width: 218px;
  height: 50px;
  border: 0;
  color: var(--White, #fff);
  margin-top: 27px;
  font-size: 16px;
}

.bouton:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.titreresto {
  width: 341px;
  height: 27px;
}
.titreresto h1 {
  font-size: 28px;
  font-family: Shrikhand;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
}
.titreresto .coeur {
  margin-top: 0;
}

.arriere .carte {
  position: relative;
  margin-top: -55px;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header img {
  width: 162px;
  height: 44px;
}
header .location {
  flex-direction: row;
  gap: 17px;
  background: var(--Grey-2, #EAEAEA);
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo {
  height: 36px;
}

.header {
  padding: 14px 89px 13px 89px;
  display: flex;
  justify-content: center;
}

.headimg {
  height: 275px;
  width: 375px;
}

footer {
  background: var(--Grey, #353535);
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer a {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-decoration: none;
}
footer .lien {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
footer .fa-solid {
  width: 11px;
}
footer p {
  margin: 0px;
}
footer img {
  width: 139px;
  height: 27px;
  color: white;
}
footer p.logo2 {
  font-family: Shrikhand;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px;
  }
  footer a {
    display: flex;
    flex-direction: row;
  }
  footer p {
    margin-right: 30px;
  }
}
.coeur {
  display: flex;
  flex-direction: column;
  margin-left: 293px;
  margin-top: 20px;
  position: absolute;
}
.coeur i.fa-regular.fa-heart {
  font-size: 22px;
}
.coeur i.fa-solid.fa-heart {
  font-size: 22.5px;
  position: absolute;
  background-clip: text;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  color: transparent;
  opacity: 0;
}
.coeur i.fa-solid.fa-heart:hover {
  animation: coeur 3s forwards;
  transform: scale(1.09);
}

i.fa-solid.fa-heart:not(:hover) {
  animation: coeurreverse 3s forwards;
  transform: scale(1.09);
}

@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes coeurreverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: 340px;
  height: 251px;
  background: white;
}
.card1 img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 189px;
  object-fit: cover;
}
.card1 a {
  height: 251px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.card a {
  text-decoration: none;
}

.deuxieme {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.premier {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nom {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: roboto;
  color: black;
  margin-left: 25px;
}
.nom p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.nom h3 {
  margin: 0;
  margin-top: 12px;
  font-size: 18px;
}

.carte {
  background: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 32px;
}

.cardmenu {
  display: flex;
  height: 69px;
  width: 349px;
  border-radius: 15px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.cardmenu a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cardmenu p {
  margin: 0;
}
.cardmenu h3 {
  margin: 0;
}
.cardmenu .description {
  display: flex;
  flex-direction: column;
  width: 287px;
}

.entrées {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.entrées h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  padding-bottom: 10px;
}

.prix p {
  margin: 0;
}

.bouttonCMD {
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  width: 186px;
  height: 50px;
  border: 0;
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

/*# sourceMappingURL=styles.css.map */
