.Fonctionnement {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-bottom: 60px;
}
.Fonctionnement h2 {
  font-family: Roboto;
  margin-bottom: 0;
  width: 322px;
  margin-top: 48px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 28px;
  margin-top: 31px;
}
.menu1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background: #f6f6f6;
  justify-content: space-around;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.menu h4 {
  width: 180px;
  font-family: roboto;
}

.fa-store:before {
  color: #9356DC;
}

.cercle {
  margin: 10px;
  width: 24px;
  background: #9356DC;
  height: 24px;
  text-align: center;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  margin: -50px;
}

@media (min-width: 697px) {
  .Fonctionnement h2 {
    width: auto;
    margin-left: 20px;
  }
}
@media (min-width: 1050px) {
  .Fonctionnement h2 {
    width: 1050px;
    margin-left: 20px;
  }
}
@media (min-width: 1104px) {
  .menu {
    gap: 55px;
  }
}
.restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f6f6f6;
  height: 1226px;
}
.restaurants h2 {
  margin: 58px 80px 16px 20px;
  font-family: Roboto;
  width: 275px;
}

@media (min-width: 704px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 28px;
  }
  .restaurants .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .restaurants h2 {
    margin: 30px 180px 0px 180px;
    width: auto;
  }
}
@media (min-width: 1050px) {
  .restaurants .card {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .restaurants .card1 {
    width: 490px;
  }
  .restaurants .deuxieme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants .premier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurants .coeur {
    margin-left: 430px;
  }
  .restaurants h2 {
    width: 1050px;
    margin-left: 200px;
  }
}
@media (min-width: 1180px) {
  .restaurants .card {
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 100%;
  }
  .restaurants .deuxieme {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    margin: 0px 180px;
  }
  .restaurants .premier {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    margin: 0px 180px;
  }
  .restaurants .coeur {
    margin-left: 430px;
  }
}
.titre {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 287px;
  background: #f6f6f6;
  font-family: roboto;
}
.titre h2 {
  height: 68px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0px 0px;
}
.titre h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0px 0px 0px;
}
.titre .bouton {
  border-radius: 25px;
  background: linear-gradient(#9356DC, #FF79DA);
  width: 218px;
  height: 50px;
  border: 0;
  color: #fff;
  margin-top: 27px;
  font-size: 16px;
}
.titre .bouton a {
  text-decoration: none;
  color: inherit;
}

.bouton:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.titreresto {
  width: 341px;
  height: 27px;
}
.titreresto h1 {
  font-size: 28px;
  font-family: Shrikhand;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
}
.titreresto .coeur {
  margin-top: 0;
}
@media (max-width: 374px) {
  .titreresto .coeur {
    margin-left: 276px;
  }
}
@media (max-width: 374px) {
  .titreresto {
    width: 301px;
  }
}

.arriere {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.arriere .carte {
  position: relative;
  margin-top: -55px;
  width: 100%;
}
@media (min-width: 1024px) {
  .arriere .carte {
    width: 1055px;
  }
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header img {
  width: 162px;
  height: 44px;
}
header .location {
  flex-direction: row;
  gap: 17px;
  background: var(--Grey-2, #EAEAEA);
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo {
  height: 36px;
}
header.menuresto {
  padding-left: 30px;
  flex-direction: row;
}
header .fa-arrow-left {
  font-size: 18px;
}
header p {
  font-family: roboto;
}

.header {
  padding: 14px 89px 13px 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header2 {
  width: 100%;
  padding: 14px 0px 13px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headimg {
  max-height: 540px;
  width: 100%;
  object-fit: cover;
}

footer {
  background: var(--Grey, #353535);
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer a {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-decoration: none;
}
footer .lien {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  color: white;
}
footer .fa-solid {
  width: 11px;
}
footer p {
  margin: 0px;
  font-family: roboto;
}
footer img {
  width: 139px;
  height: 27px;
  color: white;
}
footer p.logo2 {
  font-family: Shrikhand;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
footer .return {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .return p {
  color: white;
}

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px;
  }
  footer a {
    display: flex;
    flex-direction: row;
  }
  footer p {
    margin-right: 30px;
  }
  footer .return {
    flex-direction: row;
    gap: 7px;
  }
}
.coeur {
  display: flex;
  flex-direction: column;
  margin-left: 293px;
  margin-top: 20px;
  position: absolute;
}
.coeur i.fa-regular.fa-heart {
  font-size: 22px;
}
.coeur i.fa-solid.fa-heart {
  font-size: 22.5px;
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  color: transparent;
  opacity: 0;
}
.coeur i.fa-solid.fa-heart:hover {
  animation: coeur 2s forwards;
  transform: scale(1.09);
}

i.fa-solid.fa-heart:not(:hover) {
  animation: coeurreverse 2s forwards;
  transform: scale(1.09);
  -webkit-animation: coeurreverse 2s forwards;
}

@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes coeurreverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px 15px 0px 0px;
  width: 340px;
  height: 251px;
  background: white;
}
.card1 img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 189px;
  object-fit: cover;
}
.card1 a {
  height: 251px;
}
.card1 .badge {
  width: 80px;
  height: 29px;
  background: var(--Green, #99E2D0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 12px 0px 395px;
  font-family: Roboto;
  font-size: 14px;
  color: var(--Green-Font, #008766);
}
@media (max-width: 1049.5px) {
  .card1 .badge {
    margin: 15px 12px 0px 250px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.card a {
  text-decoration: none;
}

.deuxieme {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.premier {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nom {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: roboto;
  color: black;
  margin-left: 25px;
}
.nom p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.nom h3 {
  margin: 0;
  margin-top: 12px;
  font-size: 18px;
}

.carte {
  background: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 32px;
}

.cardmenu {
  display: flex;
  height: 65px;
  width: 349px;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  animation: revealcardmenu 2s forwards;
}
.cardmenu a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 15px 0px 15px 15px;
  align-items: center;
  text-overflow: ellipsis;
  font-family: roboto;
}
.cardmenu .repas {
  margin: 0;
  text-overflow: ellipsis;
  width: 287px;
}
.cardmenu h3 {
  margin: 0;
  text-overflow: ellipsis;
  width: 287px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .cardmenu h3 {
    overflow: unset;
  }
}
.cardmenu p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .cardmenu p {
    overflow: unset;
  }
}
.cardmenu .description {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 287px;
}
@media (min-width: 1024px) {
  .cardmenu .description {
    width: 572px;
    text-overflow: ellipsis;
  }
}
@media (max-width: 374px) {
  .cardmenu .description {
    width: 247px;
  }
}
@media (max-width: 374px) {
  .cardmenu .description p {
    font-size: 14px;
  }
}
.cardmenu .prix {
  display: flex;
  align-items: flex-end;
  padding: 25px 15px 0px 5px;
  text-overflow: ellipsis;
}
.cardmenu .check {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  width: 110px;
  margin-left: 3px;
  transition: margin-left 1000ms ease;
}
.cardmenu svg {
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .cardmenu {
    width: 634px;
  }
}
@media (max-width: 374px) {
  .cardmenu {
    width: 309px;
  }
}

@keyframes revealcardmenu {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.category {
  animation: reveal 1.5s forwards;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
}
.category h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
  padding-bottom: 10px;
}

.category:nth-child(1) {
  animation-delay: 1s;
}

.category:nth-child(2) {
  animation-delay: 2s;
}

.category:nth-child(3) {
  animation-delay: 3s;
}

.category:nth-child(4) {
  animation-delay: 4s;
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.prix p {
  margin: 0;
  text-overflow: ellipsis;
}

.bouttonCMD {
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  width: 186px;
  height: 50px;
  border: 0;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.bouttonCMD:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.cardmenu:hover .check {
  margin-left: -56px;
  transition: margin-left 1000ms ease;
  text-overflow: ellipsis;
}
.cardmenu:hover h3 {
  margin: 0;
  text-overflow: ellipsis;
  width: 200px;
}
.cardmenu:hover .repas {
  text-overflow: ellipsis;
  width: 200px;
  margin: 0;
}

.loader-container {
  position: fixed;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  z-index: 1;
  opacity: 1;
  animation: loader 1s forwards;
  animation-delay: 3s;
}
.loader-container .fa-solid {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  animation: chargement infinite 0.5s alternate;
  font-size: 22px;
  color: #9356DC;
}
.loader-container .d2 {
  animation-delay: 0.2s;
  color: #99E2D0;
}
.loader-container .d3 {
  animation-delay: 0.4s;
  color: white;
}

@keyframes chargement {
  100% {
    transform: translateY(-30px);
  }
  0% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@media (max-width: 374px) {
  .imglanote {
    max-height: 210px;
  }
  .headimg {
    max-height: 210px;
  }
}
@media (min-width: 375px) {
  .imglanote {
    max-height: 250px;
  }
  .headimg {
    max-height: 250px;
  }
}
@media (min-width: 425px) {
  .imglanote {
    max-height: 283px;
  }
  .headimg {
    max-height: 283px;
  }
}
@media (min-width: 600px) {
  .imglanote {
    max-height: 400px;
  }
  .headimg {
    max-height: 400px;
  }
}
@media (min-width: 768px) {
  .imglanote {
    max-height: 512px;
  }
  .headimg {
    max-height: 512px;
  }
}
@media (min-width: 1024px) {
  .imglanote {
    max-height: 540px;
  }
}
@media (max-width: 374px) {
  .card1 {
    width: 295px;
  }
  .card1 .coeur {
    margin-left: 245px;
  }
  .card1 .badge {
    margin: 15px 12px 0px 210px;
  }
  .card1 .nom {
    width: 295px;
  }
  .header {
    padding: 14px 79px 13px 79px;
  }
  .restaurants h2 {
    margin: 58px 32px 16px 12px;
  }
  .Fonctionnement h2 {
    margin-left: 12px;
    width: 308px;
  }
  .menu1 {
    width: 280px;
  }
  .menu {
    margin-left: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
