@mixin flexMid {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin rowjustify {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

// columncenter
@mixin column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin column1 {
    display: flex;
    flex-direction: column;
}