body {
    margin: 0;
}

header {
    @include column;

    & img {
        width: 162px;
        height: 44px;
    }

    .location {
        flex-direction: row;
        gap: 17px;
        background: var(--Grey-2, #EAEAEA);
        width: 100%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        @include flexMid;
    }

    .logo {
        height: 36px;
    }

    &.menuresto {
        padding-left: 30px;
        flex-direction: row;
    }

    .fa-arrow-left {
        font-size: 18px;
    }

    & p {
        font-family: roboto;
    }
}

.header {
    padding: 14px 89px 13px 89px;
    @include flexMid;

    &2 {
        width: 100%;
        padding: 14px 0px 13px 0px;
        @include flexMid;
    }
}

.headimg {
    max-height: 540px;
    width: 100%;
    object-fit: cover;
}