.carte {
  background: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  @include column;
  gap: 40px;
  padding-top: 32px;
}

.cardmenu {
  display: flex;
  height: 65px;
  width: 349px;
  border-radius: 15px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  animation: revealcardmenu 2s forwards;

  & a {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 15px 0px 15px 15px;
    align-items: center;
    text-overflow: ellipsis;
  }

  & .repas {
    margin: 0;
    text-overflow: ellipsis;
    width: 287px;
  }

  & h3 {
    margin: 0;
    text-overflow: ellipsis;
    width: 287px;
    overflow: hidden;

    @media (min-width:1024px) {
      overflow: unset;
    }
  }

  & p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (min-width:1024px) {
      overflow: unset;
    }
  }

  & .description {

    white-space: nowrap;
    text-overflow: ellipsis;
    width: 287px;

    @media (min-width:1024px) {
      width: 572px;
      text-overflow: ellipsis;

    }
  }

  & .prix {
    display: flex;
    align-items: flex-end;
    padding: 25px 15px 0px 5px;
    text-overflow: ellipsis;
  }

  & .check {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    width: 110px;
    margin-left: 3px;
    transition: margin-left 1000ms ease;
  }

  & svg {
    text-overflow: ellipsis;
  }

  @media (min-width:1024px) {
    width: 634px;

  }
}

@keyframes revealcardmenu {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.category {
  animation: reveal 1.5s forwards;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;

  & h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto;
    border-bottom: 2px solid #99e2d0;
    width: 40px;
    padding-bottom: 10px;
  }

}

.category:nth-child(4) {
  animation-delay: 3s;
}

.category:nth-child(2) {
  animation-delay: 1s;
}

.category:nth-child(3) {
  animation-delay: 2s;
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.prix p {
  margin: 0;
  text-overflow: ellipsis;
}

.bouttonCMD {
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--Button-Gradient,
      linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  width: 186px;
  height: 50px;
  border: 0;
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}