.carte {
  background: $carte-background;
  border-radius: $carte-border-radius;
  @include column;
  gap: 40px;
  padding-top: $carte-padding-top;
}

.cardmenu {
  display: flex;
  height: 65px;
  width: 349px;
  border-radius: $cardmenu-borderradius;
  background: $cardmenu-background;
  box-shadow: $cardmenu-boxshadows;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  animation: revealcardmenu 2s forwards;

  & a {
    text-decoration: none;
    color: $cardmenu-textcolor;
    display: flex;
    padding: 15px 0px 15px 15px;
    align-items: center;
    text-overflow: ellipsis;
    font-family: roboto;
  }

  & .repas {
    margin: 0;
    text-overflow: ellipsis;
    width: 287px;
  }

  & h3 {
    margin: 0;
    text-overflow: ellipsis;
    width: 287px;
    overflow: hidden;

    @media (min-width:1024px) {
      overflow: unset;
    }
  }

  & p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (min-width:1024px) {
      overflow: unset;
    }
  }

  & .description {

    white-space: nowrap;
    text-overflow: ellipsis;
    width: 287px;

    @media (min-width: 575px) {
      width: 438px;
    }

    @media (min-width: 704px) {
      width: 502px;
    }

    @media (min-width:1024px) {
      width: 572px;
      text-overflow: ellipsis;

    }

    @media (max-width: 374px) {
      width: 247px;
    }

    & p {
      @media (max-width: 374px) {
        font-size: 14px;
      }
    }
  }

  & .prix {
    display: flex;
    align-items: flex-end;
    padding: 25px 15px 0px 5px;
    text-overflow: ellipsis;
  }

  & .check {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    width: 110px;
    margin-left: 3px;
    transition: margin-left 1000ms ease;
  }

  & svg {
    text-overflow: ellipsis;
  }

  @media (min-width: 575px) {
    width: 502px;
  }

  @media (min-width: 704px) {
    width: 566px;
  }

  @media (min-width:1024px) {
    width: 634px;

  }

  @media (max-width: 374px) {
    width: 309px;
  }
}

@keyframes revealcardmenu {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.category {
  animation: reveal 1.5s forwards;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;

  & h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto;
    border-bottom: 2px solid #99e2d0;
    width: 40px;
    padding-bottom: 10px;
  }

}

@for $i from 1 through 4 {
  .category:nth-child(#{$i}) {
    animation-delay: #{$i}s;
  }
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.prix p {
  margin: 0;
  text-overflow: ellipsis;
}

.bouttonCMD {
  border-radius: 25px;
  background: var(--Button-Gradient,
      linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  width: 186px;
  height: 50px;
  border: 0;
  color: $color-white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;

  &:hover {
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 0.15) 15%,
        rgba(255, 255, 255, 0.15) 100%),
      linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}