.card1 {
  @include column;
  border-radius: $card-border-radius;
  width: $card-width;
  height: $card-height;
  background: white;

  & img {
    width: 100%;
    border-radius: $card-border-radius;
    height: 189px;
    object-fit: cover;
  }

  & a {
    height: 251px;
  }

  & .badge {
    width: $card-badge-width;
    height: $card-badge-height;
    background: var(--Green, #99E2D0);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 12px 0px 395px;
    font-family: Roboto;
    font-size: 14px;
    color: var(--Green-Font, #008766);


    @media(max-width:1049.5px) {
      margin: 15px 12px 0px 250px;
    }
  }
}

.card {
  @include column1;
  gap: 18px;

  & a {
    text-decoration: none;
  }
}

.deuxieme {
  @include column1;
  gap: 18px;
}

.premier {
  @include column1;
  gap: 18px;
}

.nom {
  @include column1;
  width: 100%;
  font-family: roboto;
  color: black;
  margin-left: 25px;

  & p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
  }

  & h3 {
    margin: 0;
    margin-top: 12px;
    font-size: 18px;
  }
}