.card1 {
  @include column;
  border-radius: $card-border-radius;
  width: $card-width;
  height: $card-height;
  background: white;

  @media (max-width: 703.9px) {
    width: 90%;
  }

  @media (min-width: 704px) {
    width: 100%;
  }

  & img {
    width: 100%;
    border-radius: $card-border-radius;
    height: 189px;
    object-fit: cover;
  }

  & a {
    height: 251px;
  }

  & .badge {
    width: $card-badge-width;
    height: $card-badge-height;
    background: var(--Green, #99e2d0);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 12px 0px 70%;
    font-family: Roboto;
    font-size: 14px;
    color: var(--Green-Font, #008766);

    @media (min-width: 704px) {
      margin: 15px 12px 0px 33%;
    }

    @media (min-width: 1089px) {
      margin: 15px 12px 0px 388px;
    }
  }
}

.card {
  @include column1;
  gap: 18px;

  @media (max-width: 703.9px) {
    width: 100%;
  }

  & a {
    text-decoration: none;
    display: flex;
    justify-content: center;

    @media (max-width: 375px) {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}

.deuxieme {
  @include column1;
  gap: 18px;

  @media (min-width: 704px) {
    width: 45%;
  }
}

.premier {
  @include column1;
  gap: 18px;

  @media (min-width: 704px) {
    width: 45%;
  }
}

.nom {
  @include column1;
  width: 100%;
  font-family: roboto;
  color: black;
  margin-left: 25px;

  & p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
  }

  & h3 {
    margin: 0;
    margin-top: 12px;
    font-size: 18px;
  }
}