.Fonctionnement {
  @include column;
  height: auto;
  margin-bottom: 60px;

  & h2 {
    font-family: Roboto;
    margin-bottom: 0;
    width: 322px;
    margin-top: 48px;
  }
}

.menu {
  @include flexMid;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 28px;
  margin-top: 31px;

  @media(max-width:1023.9px) {
    width: 75%;
  }

  @media(max-width:450px) {
    width: 75%;
  }

  @media(max-width:449.9px) {
    width: 90%;
  }

  &1 {
    @include row;
    width: 322px;
    height: 72px;
    border-radius: 20px;
    background: $menu-background-color;
    justify-content: space-around;


    @media(max-width:1023.9px) {
      width: 528px;
    }

    @media(max-width:500px) {
      display: flex;
      justify-content: space-around;
    }

    &:hover {
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

      .fa-solid {
        color: $icone-color;
      }
    }
  }

  & h3 {
    width: 180px;
    font-family: roboto;
    font-size: 16px;
  }
}


.cercle {
  margin: 10px;
  width: 24px;
  background: $cercle-color;
  height: 24px;
  text-align: center;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  margin: -50px;

  @media(max-width:1024px) {
    margin: -18.5%;
  }
}

@media(min-width:704px) {}

@media (min-width: 697px) {
  .Fonctionnement {
    & h2 {
      width: auto;
      margin-left: 20px;
    }
  }
}

@media (min-width: 1050px) {
  .Fonctionnement {
    & h2 {
      width: 1050px;
      margin-left: 20px;
    }
  }
}

@media (min-width: 1104px) {
  .menu {
    gap: 55px;
  }
}