.titre {
  @include column;
  height: 287px;
  background: $titre-bouton-background;
  font-family: roboto;

  & h2 {
    height: 68px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0px 0px;
  }

  & h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 0px;
  }

  & .bouton {
    border-radius: 25px;
    background: linear-gradient($bouton-background-start,
        $bouton-background-end );
    width: 218px;
    height: 50px;
    border: 0;
    color: $titre-bouton-text-color;
    margin-top: 27px;
    font-size: 16px;
    text-decoration: none;
    @include flexMid
  }
}

.bouton:hover {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.15) 15%,
      rgba(255, 255, 255, 0.15) 100%),
    linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}